@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;

    --primary: 252 59% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 8%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 9%;
    --input: 0 0% 9%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border scrollbar-thin select-none;
  }
  body {
    @apply bg-background text-foreground scrollbar-thumb-secondary-foreground;
  }
  html {
    @apply h-full;
  }
}

.layout {
  @apply max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-7xl mx-auto;
}

.grid-layout {
  @apply grid md:grid-cols-2 lg:grid-cols-3 gap-10;
}

ul > li {
  @apply flex items-center gap-2;
}
